#projects{
    min-height: 80vh;
    max-width: 1000px;
    margin:auto;
    padding-top: 100px;
    gap:2rem;
    padding:2rem;
}
.projects-header{
    font-family: "NTR", sans-serif;
        font-size: 48px;
        color: #ff9abb;
        font-weight: semi-bold;
        margin-top: 0;
        text-align: start;
}

  .button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
  }
  .sparkleButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2px #ff9abb, 0 0 4px #ff9abb;
  }
  .sparkleButton {
    position: relative;
    padding: 2px 30px;
    background: linear-gradient(270deg, #ff9abb, #ff9abb, #ff81ea);;
    color: #180329;
    font-size: 20px;
    border-radius: 20px;
    gap:6rem;
    transition: transform 0.2s ease;
    font-family: 'NTR', sans-serif !important;
    font-weight: bold !important;
  }
  .noBox h6{
    color:#ff9abb;
    font-size:22px;
    font-family: 'NTR',sans-serif !important;
  }
 
  .question-image {
    width: 250px;
    height:250px;
    margin-bottom: 20px;
    border-radius: 10px;
    z-index:0;
  }
  .tab-question{
    color:#fabbe9;
    font-size:23px;
  }
  /*this is for the project cards section*/
  .project-card{
    width: 420px;
    max-width: 550px;
    height: auto;
    margin: left;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(59, 31, 50, 0.13);
    transition: transform 0.3s ease;
    background-color: #12121f !important;
    z-index:-1;
  }
  .portfolio-img{
  width:320px;
  height:300px;
  margin-left: 12px;
  border-radius: 10px;
 align-items: center;
  z-index:1;
  margin-top: 3%;
}
.project-title{
  font-family: "NTR", sans-serif !important;
  font-size: 25px !important;
  color: #f83d7c;
  font-weight: semi-bold;
  margin-top: 5px;
  text-align: start;
}
.folder-icon{
  margin-left:5px;
}
.tech-stack{
  font-family: "NTR", sans-serif !important;
  font-size: 20px !important;
  color: #f83d7c;
  font-weight: semi-bold;
  margin-top: 0;
  text-align: start;
}
 .project-card h6{
    color:#f187aa;
    font-size:21px;
    font-family: 'NTR',sans-serif !important;
    font-weight: semi-bold;
  }
  .stars{
    margin-left:2px;
    margin-top:6px;
  }
@keyframes move{
 0% {
      transform: scale(0.8);
      opacity: 1;
    }
    100%{
       transform: scale(1);
      opacity: 1.2;
    }
}
 
  .error-image{
    width: 450px;
    height:450px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.6;
    }
  }
  
  @media screen and (max-width: 768px) {
    #projects {
      padding-left: unset;
      padding-right: unset;
      max-width: fit-content;
    }
    .question-image {
      width: 250px;
      height:250px;
      margin-bottom: 20px;
      border-radius: 10px;
      z-index:0;
    }
    .tab-question{
      color:#f092d7;
      font-size:23px;
    }

  .portfolio-img {
    width: 250px;
    max-width: 280px;
    height: auto;
    bottom: 40px;
    margin-right: 10px;
    align-items: center;
  }

  .question-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 0 auto 20px auto;
  }

  .projects-header {
    font-size: 32px;
    text-align: center;
  }

  .button-group {
    flex-direction: column;
    gap: 15px;
  }
  
  .project-card {
    font-size:18px;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 10px auto; 
    width:300px;
    text-align :center;
    justify-content: center;
  }
  .project-title{
  font-family: "NTR", sans-serif !important;
  font-size: 18px !important;
  color: #f83d7c;
  font-weight: semi-bold;
  margin-top: 0;
  text-align: start;
}
.folder-icon{
  margin-left:5px;
}
.project-card h6{
  font-size: 20px;
  margin-top: auto;
}
.stars{
  size:20px;
  margin-right: 10px;
}

}

